<div class="main-div">
  <mat-card class="center">
      
  <mat-card-title style="padding-left: 25px">
    Ejes temáticos
  </mat-card-title>

  <mat-card-content style="padding:25px">
    <p>
      * Nuevas tecnologías: investigaciones, prácticas y experiencias pedagógicas en entornos digitales.
    </p>
    <p> 
      * Creatividad en el aula: experiencias de aplicación de estrategias creativas y el desarrollo de la creatividad en los niños/ jóvenes.
    </p>
    <p>  
      * Prácticas innovadoras en el aula: intervenciones áulicas en relación a nuevas estrategias didácticas.
    </p>
    <p>   
      * Convivencia escolar: reflexión, construcción y promoción del respeto, inclusión, equidad, responsabilidad, participación y solidaridad en la comunidad educativa.Trabajos de formación y prevención de conflictos y riesgos.
    </p>
    <p>   
      * Gestión institucional: teorías, experiencias y reflexiones acerca del rol directivo como formador, facilitador y coach innovador y creativo
    </p>
  </mat-card-content>
</mat-card>
</div>