<div class="main-div">

  <mat-card class="center">
      
  <mat-card-title style="padding-left: 25px">
    REGISTRO DE SUGERENCIAS
  </mat-card-title>
  <mat-card-subtitle style="padding-left: 25px">
    Selecciones el grupo e indique la calificación 
  </mat-card-subtitle>
  <mat-card-content style="padding:25px">
  
    <h2>Alta Sugerencia</h2>
    <p>
      <span>Sugerencia:</span>
      <input type="text" [(ngModel)]="sugerencia.dasugerencia">
    </p>
    <p>
      <span>Calificación:</span>
      <input type="text" [(ngModel)]="sugerencia.calificacion">
    </p>
    <p>
      <span>Grupo:</span>
      <select [(ngModel)]="sugerencia.grupo">
        <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.descripcion}}</option>
      </select>
    </p>
    <p>
      <button (click)="this.nuevoSugerencia()">Guardar</button>
    </p>
    <app-listado-sugerencias></app-listado-sugerencias>

  </mat-card-content>
</mat-card>
</div>






