<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" class="shadow_right"
                 style="min-width:50px; background: white;">
        <mat-nav-list>
            <h3 matSubheader>CONGRESO</h3>
            <mat-list-item role="listitem" [routerLink]="['queesgeg-component']">
              <mat-icon matListIcon>assignment</mat-icon>
              <h4 matLine>Que es GEG?</h4>
           </mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['objetivo-component']">
               <mat-icon matListIcon>assignment</mat-icon>
               <h4 matLine>Objetivos y Destinatarios</h4>
            </mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['ejestematicos-component']">
                <mat-icon matListIcon>note_add</mat-icon>
                <h4 matLine>Ejes Temáticos</h4>
             </mat-list-item>            
             <mat-list-item>
                <mat-icon matListIcon>calendar_today</mat-icon>
                <h4 matLine>Cronograma</h4>
             </mat-list-item>            
             <mat-list-item>
                <mat-icon matListIcon>event_seat</mat-icon>
                <h4 matLine>Conferencias</h4>
             </mat-list-item>                                      
            <mat-divider></mat-divider>
            <mat-list-item role="listitem" [routerLink]="['altasugerencia-component']">
               <mat-icon matListIcon>speaker_notes</mat-icon>
               <h4 matLine>SUGERENCIAS</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 matSubheader>COMUNIDADES</h3>
            <mat-list-item>
                <mat-icon matListIcon>donut_small</mat-icon>
                <a mat-list-item target="_blank" href="https://plus.google.com/communities/113302965518151728656"><h4 matLine>G Suite Trainig</h4></a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>domain</mat-icon>
                <a mat-list-item target="_blank" href="https://plus.google.com/communities/118075275136793092112"><h3 matLine>Herramientas para Docentes</h3></a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
               <mat-icon matListIcon>lock</mat-icon>
               <h4 matLine>Cierre de Sesión</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
    <mat-toolbar color="primary">

    <div>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span><img src="./assets/geg1.png"></span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/altasugerencia-component">Sugerencias</a>
            </li>
            <li>
                <mat-icon class="icon">input</mat-icon>
                <a routerLink="/account">Cierre Sesión</a>
            </li>
        </ul>
    </div>

    </mat-toolbar>
    <main>        
      <router-outlet></router-outlet>
    </main>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <div class="content">
        <img class="logo" src="assets/GegCuadro.png" width="800" height="260">
    </div>
  
    <div>
        <article class="accordion">
  
            <section id="acc1">
              <h2><a href="#acc1">¿QUÉ ES GEG BOLIVIA?</a></h2>
              <p>Es un espacio creado para que nuestros docentes reflexionen abierta y creativamente, se capaciten, ayuden y colaboren entre sí, con el objetivo de que adquieran nuevas habilidades y conozcan la mejor manera de integrarlas en los procesos de enseñanza aprendizaje. GEG Bolivia, es la plataforma donde nuestros docentes tendrán la oportunidad de conectarse entre ellos a nivel nacional, brindándoles la oportunidad de expandir sus contactos tanto personales como profesionales.</p>
            </section>
            
            <section id="acc2">
              <h2><a href="#acc2">DIRECTORIO</a></h2>
              <p>El presente directorio tiene el propósito de mostrar  a los miembros activos de nuestra comunidad los cuales asistieron, colaboraron u apoyaron en nuestras actividades de la gestión 2017. De esta manera GEG Bolivia los reconoce como Miembros activos de la Comunidad de Educadores Google Bolivia mediante un Certificado en formato digital.</p>
            </section>
            
            <section id="acc3">
              <h2><a href="#acc3">DISRUPTIVA</a></h2>
              <p>El Proyecto Disruptiva tiene como algunos de sus propósitos: 
                  Ser instrumento de Recopilación y Transferencia de Información generada por los actores principales del movimiento Emprendedor, Tecnológico Educativo.                  
                  Generador de Hipótesis y conclusiones para fortalecer y Unir al Ecosistema Emprendedor.                  
                  Les Invitamos a ser parte de este proyecto.                  
                  Proyecto Soportado por geg Bolivia, Radio Loyola y todos los que quieran unirse. </p>
            </section>
            
            <section id="acc4">
              <h2><a href="#acc4">LIDERES/EDUCADORES</a></h2>
              <p>En el Directorio encontraras a los Lideres de los capítulos de GEG Bolivia y a profesionales que tienen una expertise en el uso y manejo de Tecnología de la Información orientado a la Educación, Innovación y desarrollo cultural que apoyan al cumplimiento de nuestros objetivos como comunidad "Educadores Google en Bolivia".</p>
            </section>
  
            <section id="acc5">
                <h2><a href="#acc5">CURSOS</a></h2>
                <p>En el Directorio encontraras a los Lideres de los capítulos de GEG Bolivia y a profesionales que tienen una expertise en el uso y manejo de Tecnología de la Información orientado a la Educación, Innovación y desarrollo cultural que apoyan al cumplimiento de nuestros objetivos como comunidad "Educadores Google en Bolivia".</p>
            </section>
          </article>  
    </div>