<div class="main-div">
  <mat-card class="center">
      
  <mat-card-title style="padding-left: 25px">
    Objetivos y destinatarios
  </mat-card-title>
  <mat-card-subtitle style="padding-left: 25px">
    <img class="logo" src="assets/geg4.png" width="400" height="100">
    <br>
    <a>Objetivo general</a>
  </mat-card-subtitle>
  <mat-card-content style="padding:25px">
    <p>
     Generar un espacio en Corrientes que promueva el enriquecimiento y crecimiento colectivo, a partir del intercambio de experiencias significativas entre docentes y directivos de Instituciones Educativas de Argentina, abarcando los niveles inicial, primario y secundario.
    </p>
  </mat-card-content>

  <mat-card-subtitle style="padding-left: 25px">
    Objetivo especificos
  </mat-card-subtitle>
  <mat-card-content style="padding:25px">
    <p>
      * Fomentar el desarrollo de comunidades educativas colaborativas.
    </p>
    <p> 
      * Reflexionar y debatir acerca de las posibilidades que propician las tecnologías actuales en el ámbito educativo.
    </p>
    <p>  
      * Compartir perspectivas y enfoques acerca de las prácticas educativas innovadoras a partir de diferentes áreas disciplinares.
    </p>
    <p>  
      * Promover instancias de articulación fortaleciendo el trabajo de contenido transversal en sus diferentes niveles.
    </p>
    <p>  
      * Generar espacios de exposición, conferencias, talleres que permitan construir intercambios en torno a experiencias y propuestas creativas en el aula.
    </p>
    <p>  
      * Ofrecer a los educadores el acceso a ponencias de expertos nacionales que favorezcan el desarrollo de profesionales innovadores dispuestos a asumir el desafío que representa la educación del siglo XXI.
    </p>
    <p>  
      * Intercambiar experiencias concretas que permitan analizar la realidad respecto a los retos que plantean la creatividad e innovación educativa.
    </p>
  </mat-card-content>

  <mat-card-subtitle style="padding-left: 25px">
    Destinatarios:
  </mat-card-subtitle>
  <mat-card-content style="padding:25px">
    <p>
      * Docentes y directivos que se desempeñen en los niveles inicial, primario y secundario.
    </p>
    <p>
      * Profesionales de psicología y pedagogía que se desempeñen en entornos educativos; y
    </p>
    <p>
      * Investigadores y estudiantes de profesorados y/o carreras a fines.
    </p>
  </mat-card-content>

</mat-card>
</div>