<div class="main-div">
  <mat-card class="center">
      
  <mat-card-title style="padding-left: 25px">
    Ingreso
  </mat-card-title>

  <mat-card-content style="padding:25px">

    <input type="text" matInput placeholder="Correo" required autofocus >
    <input type="password" matInput placeholder="Clave" required autofocus >
    <button class="full-width" mat-button color="warn" (click)="authService.login(userEmail.value, userPassword.value")>Continuar</button>

  </mat-card-content>

</mat-card>
</div>
